@font-face {
  font-family: "montserrat";
  src: url("font1/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "monts"
	src:url("font1/Montserrat-Regular.ttf");
}
@font-face{
	font-family: "roboto";
	src:url("font2/Roboto-Thin.ttf") format("truetype");
}
.midstyle h1 {
  font-family:montserrat;
   
}

.logo-head{
margin-left:25px;
width:120px;
 height:40px;
}
.navstyle{
	margin-top:23px;
	overflow:hidden;
	position: fixed;
	top:0;
  width:100%;
}
.midstyle{
	text-align:center;
	margin-top:180px;
	

}
.midstyle p{
	font-size:30px;
}
i{
	margin-right:15px; 
}

html{
	overflow-x: hidden;
}
img {
  max-width:auto;
  height: auto;
}

h1{
font-size:90px;

	}
p{
	
	margin-bottom:0em;
	font-size:60px;
}
/*main{
	width=100%;
	height: 100vh;
	background-size:cover;
}*/
nav {
    width: 100%;
    height:80px
    line height:80px;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 5px;
}

nav ul{
	float: right;
	margin-right:30px;
	margin-top: 5px;
}

.stylel{
	margin-top: 5px;
	padding-top: 5px;
	border-radius: 15px;
	border-top-left-radius: 2.2em;
	border-top-right-radius: 2.2em;
}

.welcome-message { 
	margin-top: 4.5em; 
	text-align: center;
 	font-family: Arial, Helvetica, sans-serif;
 }

.welcome-message h1 {
  	font-size: 59px; 
  	font-weight: 400;
  	margin: 0 0 24px;
}

.welcome-message h2 {
  	font-size: 28px;
  	font-weight: 400;
  	margin: 0;
}

.welcome-message a{
	padding: 10px;
}

.logo{
	block:inline-block;
	text-align:center;
	padding-top: 60px;
	padding:50px; 
}

fa fa-facebook:hover{
	color: #3b5998;
}

fa fa-twitter:hover{
	color: #00b6f1;
}

fa fa-instagram:hover{
	color:  #007bb6;
}

feature-style2{
	float:right;
}

.artstyle{
	margin-left: 50px;
}

.artstyle2{
text-align: right;
}

.artstyle3{
	margin-left: 20px
}
.features article { margin-top:em; }

.featured-sites li { padding: 0 3em; }
#feature-1{
text-align: left;
}
 h2{
font-family: roboto;
font-size: 40px;
}
p{
font-family: roboto; 
font-size: 25px;
}
#feature-2{
text-align: right;
}
#feature-3{
text-align: left;
}
.feat1{
	max-width:100%;
	height: auto;
}
.endstyle{
	text-align: center;
	margin-top: 30%;
	background-image:"img/FOOTER.png";
}

.btn{
	margin-top: 2%;
	width: 195px;
	height: 72px;
	font-size: 30px;
	background-color: #000;
	color: #fff;
	border-radius: 10px;
}

.footers{
	margin-bottom: 80px;
}